.card{
    border: none;
    width: 700px;
    padding: 50px;
    position: absolute;
    margin-top: 100px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background:rgba(158, 199, 229, 0.9);
    
}
img{
    width: 170px;
}