
<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <div class="card">
                <img src=" https://www.certifiedfinancialguardian.com/images/blog-wp-login.png" alt="Logo"/>
                <h6> &nbsp;&nbsp;&nbsp; Teachers click here to login </h6>
                <button routerLink="/login" class="btn btn-primary mx-3">Teacher</button>
                <br>
                <br>
                <h6> &nbsp;&nbsp;&nbsp; Students click  here to see results</h6>
                <button routerLink="/studentdashboard"class="btn btn-primary mx-3">Student</button>
            </div>

        </div>

    </div>
</div>